<div class="room">
  <ul>
    <li>Room Title: {{ room.title }}</li>
    <li>Room URL: </li>
    <li>Songs:</li>
    <li><button type="button" name="delete-room" class="delete-room"></button></li>
  </ul>
</div>
