@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300|Roboto+Condensed:400,700italic,700,400italic,300italic,300);

html, body{
	font-size: 65.5%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: black;

  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
