input{
	border: none;
  background: none;
  cursor:pointer;
  border-bottom: 4px solid black;
}

input:hover{
  cursor: text;
}

input:focus{
  cursor: default;
  outline: none;
}

input[type=email]{
	width: 300px;
}

input[type=submit]{
	padding: 10px 40px;

  border: none;
  background: black;
  text-decoration: none;
  cursor:pointer;
}

input[type=submit]:focus{
  outline: none;
}
