ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li{
  margin: 15px 0;
}

.searchResult, .queuedTrack{
  margin: 0;
}

.searchResult:hover, .queuedTrack:hover{
  text-decoration: underline;
  cursor: pointer;
}

.selected{
  background-color: yellow;
}
