*{
  font-family: 'Cutive Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  color: black;
}
.container{
  margin: 50px 0 0 50px;
  max-width: 400px;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li{
  margin: 15px 0;
}

.selected{
  background-color: yellow;
}

input[name=email]{
  border: none;
  background: none;
  cursor:pointer;
  border-bottom: 1px solid black;
}

input[name=email]:hover{
  cursor: text;
}

input[name=email]:focus{
  cursor: default;
  outline: none;
}

input[type=submit]{
  border: none;
  background: none;
  text-decoration: underline;
  cursor:pointer;
  padding-bottom: 0;
}

input[type=submit]:focus{
  outline: none;
}
