@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300|Roboto+Condensed:400,700italic,700,400italic,300italic,300);

html, body{
	font-size: 65.5%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: black;

  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  margin: 50px 0 0 50px;
  width: 400px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li{
  margin: 15px 0;
}

.searchResult, .queuedTrack{
  margin: 0;
}

.searchResult:hover, .queuedTrack:hover{
  text-decoration: underline;
  cursor: pointer;
}

.selected{
  background-color: yellow;
}

input{
  border: none;
  background: none;
  cursor:pointer;
  border-bottom: 1px solid black;
}

input:hover{
  cursor: text;
}

input:focus{
  cursor: default;
  outline: none;
}

input[type=submit]{
  border: none;
  background: none;
  text-decoration: underline;
  cursor:pointer;
  padding-bottom: 0;
}

input[type=submit]:focus{
  outline: none;
}
