.header-bar {
  max-width: 100%;
  padding: 10px;
  height: 20px;

  border-bottom: 1px solid white;

  background-color: black;
  color: white;

  transition: all 500ms cubic-bezier(0.52, 0.01, 0, 1);

  &.-active {
    height: 150px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .logo {
    position: absolute;
    left: 10px;
    width: 75%;
    float: left;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff;
  }

  >.login-register {
    position: absolute;
    right: 10px;
  }

  .login-register-form {
    display: none;

    &.-active {
      display: block;
    }

    input {
      border: 0;
      background: none;
      cursor: pointer;
      border-bottom: 4px solid #fff;
    }

    input:hover {
      cursor: text;
    }

    input:focus {
      cursor: default;
      outline: none;
    }

    input[type=email] {
    	width: 300px;
    }

    input[type=submit] {
    	padding: 10px 40px;

      border: 0;
      background: none;
      text-decoration: none;
      cursor: pointer;
    }

    input[type=submit]:focus {
      outline: none;
    }
  }
}
