<section class="rooms-container">
  <div class="rooms-operations">
    {{input type="text" id="new-room" placeholder="Room title"
        value=newTitle action="createRoom"}}
  </div>
  <!-- Room item -->
  {{#each room in model}}
    {{room-item room=room}}
  {{/each}}
</section>
